<div class="container">
  
  <nav class="navbar fixed-top navbar-light">
    <a class="navbar-brand" href="#">MET HOTELS</a>
  </nav>

  <div class="row justify-content-around">
    <div class="col-lg-4 bg-dark text-white">
      <form-dodaj-sobu [smestaji]="smestaji" (kreiranjeNoveSobe)="onKreiranjeNoveSobe($event)"></form-dodaj-sobu>
      <form-dodaj-smestaj [isNov]="true" (kreiranjeNovogSmestaja)="onKreiranjeNovogSmestaja($event)"></form-dodaj-smestaj>
    </div>
    <div class="col-lg-8">
      <lista-smestaja-component (emitSmestajZaBrisanje)="onObrisiSmestaj($event)" (emitSmestajZaIzmenu)="onZameniSmestaj($event)" [smestaji]="smestaji"></lista-smestaja-component>
    </div>
  </div>

</div>