.smestaj{
    border: 1px solid black
}
.card-body{
    color: white;
    background-color: rgba(0, 0, 0, 0.781);
    height: max-content;
    bottom: 0;
}
.dugmici{
    padding-top: 1rem;
}
.dugmici a{
    margin-right: 15px;
}
.card-title{
    border-bottom: white 1px solid;
}